In [11]:
from path import Path
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = Path('../Group3/Group3Dataset.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,origin,destination,price,airline,flight_number,departure_at,transfers,Average Temperature (Farenheit),Population
0,5/4/23,PHX,NYC,518,AS,763,2023-05-04T16:40:00-07:00,1,53.4,"8,804,190"
1,5/5/23,PHX,NYC,518,AS,763,2023-05-05T16:40:00-07:00,1,53.4,"8,804,190"
2,5/6/23,PHX,NYC,419,AS,611,2023-05-06T18:50:00-07:00,1,53.4,"8,804,190"
3,5/7/23,PHX,NYC,437,DL,673,2023-05-06T23:15:00-07:00,0,53.4,"8,804,190"
4,5/8/23,PHX,NYC,447,NaN,4020,2023-05-07T18:13:00-07:00,1,53.4,"8,804,190"

In [3]:
df.dtypes

Unnamed: 0                          object
origin                              object
destination                         object
price                                int64
airline                             object
flight_number                        int64
departure_at                        object
transfers                            int64
Average Temperature (Farenheit)    float64
Population                          object
dtype: object

In [4]:
# Change object to int
df['Population'] = df['Population'].str.replace(',', '').astype(int)

In [5]:
df.dtypes

Unnamed: 0                          object
origin                              object
destination                         object
price                                int64
airline                             object
flight_number                        int64
departure_at                        object
transfers                            int64
Average Temperature (Farenheit)    float64
Population                           int64
dtype: object

In [6]:
# Define variable and target
X = df[['Population','transfers', 'Average Temperature (Farenheit)']].values # independent variable
y = df['price'].values # target variable

In [7]:
#Split for training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
# Create Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LinearRegression()

In [14]:
# Fit the model
classifier.fit(X_train, y_train)

LinearRegression()

In [21]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0  159.283903     197
1  362.016663     416
2  227.839606     147
3  256.749996     277
4  292.167538     286
5  229.133027    2275
6  292.167538     464
7  362.016663     240
8  362.016663     287
9  201.884347      67

In [22]:
import numpy as np

In [23]:
MSE = np.square(np.subtract(y_test,y_pred)).mean()
print(MSE)

49874.226649167766