In [32]:
from path import Path
import pandas as pd

In [33]:
data = Path('../Group3/Group3Dataset.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,origin,destination,price,airline,flight_number,departure_at,transfers,Average Temperature (Farenheit),Population
0,5/4/23,PHX,NYC,518,AS,763,2023-05-04T16:40:00-07:00,1,53.4,"8,804,190"
1,5/5/23,PHX,NYC,518,AS,763,2023-05-05T16:40:00-07:00,1,53.4,"8,804,190"
2,5/6/23,PHX,NYC,419,AS,611,2023-05-06T18:50:00-07:00,1,53.4,"8,804,190"
3,5/7/23,PHX,NYC,437,DL,673,2023-05-06T23:15:00-07:00,0,53.4,"8,804,190"
4,5/8/23,PHX,NYC,447,NaN,4020,2023-05-07T18:13:00-07:00,1,53.4,"8,804,190"

In [34]:
df.dtypes

Unnamed: 0                          object
origin                              object
destination                         object
price                                int64
airline                             object
flight_number                        int64
departure_at                        object
transfers                            int64
Average Temperature (Farenheit)    float64
Population                          object
dtype: object

In [35]:
# Change object to int
df['Population'] = df['Population'].str.replace(',', '').astype(int)

In [36]:
df.dtypes

Unnamed: 0                          object
origin                              object
destination                         object
price                                int64
airline                             object
flight_number                        int64
departure_at                        object
transfers                            int64
Average Temperature (Farenheit)    float64
Population                           int64
dtype: object

In [68]:
# Define variable and target
X = df['Population'].values.reshape(-1,1) # independent variable
y = df['price'].values # target variable

In [69]:
#Split for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [70]:
# Create Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [71]:
# Fit the model
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [72]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0          317     197
1          317     416
2          317     147
3          317     277
4          317     286
5          317    2275
6          317     464
7          317     240
8          317     287
9          317      67
10         317     147
11         317     277
12         317     617
13         317      66
14         317     317
15         317      67
16         317     835
17         317     287
18         317     277
19         317     157

In [73]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.01556420233463035