In [1]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"LED","destination":"HKT"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"prices":[{"origin":"LED","destination":"HKT","price":401,"main_airline":"EO","depart_date":"2023-05-11T07:25:00+03:00","transfers":1,"duration":1410,"link":"/search/LED1105HKT1?t=EO16837791001683863700001410LEDVKOSVOHKT_57bbfe57cfb686406458566f2833ca1e_31402\u0026search_date=05052023\u0026expected_price_uuid=185876e8-f227-4b24-916d-6049c587c9bd\u0026expected_price_currency=rub","distance":8009,"found_at":"2023-05-05T02:56:52Z","gate":"MEGO.travel","trip_class":0},{"origin":"LED","destination":"HKT","price":419,"main_airline":"EO","depart_date":"2023-05-08T18:10:00+03:00","transfers":1,"duration":2000,"link":"/search/LED0805HKT1?t=EO16835586001683678600002000LEDVKOSVOHKT_7e0fde338a057e6c4657bbd1945f307e_32821\u0026search_date=05052023\u0026expected_price_uuid=5533616b-1756-4ad8-83a4-19f3726222cd\u0026expected_price_currency=rub","distance":8009,"found_at":"2023-05-05T02:56:27Z","gate":"Aviakassa","trip_class":0},{"origin":"LED","destination":"HKT","price":429,"main_airline":"HU","depart_date":"2023-05-16T15:15:00+03:00","transfers":3,"duration":1650,"link":"/search/LED1605HKT1?t=HU16842393001684338300001650LEDSVOPEKSZXHKT_fd898fcb49aa44121736c093ff6fa6fe_33600\u0026search_date=05052023\u0026expected_price_uuid=eff88edc-333f-490d-b651-694abec259f7\u0026expected_price_currency=rub","distance":8009,"found_at":"2023-05-05T01:01:52Z","gate":"Kupi.com","trip_class":0},{"origin":"LED","destination":"HKT","price":411,"main_airline":"EO","depart_date":"2023-05-09T05:00:00+03:00","transfers":1,"duration":1350,"link":"/search/LED0905HKT1?t=EO16835976001683678600001350LEDSVOHKT_b9825842b4e4ca2160406626400f01c0_32203\u0026search_date=04052023\u0026expected_price_uuid=7e638237-7c63-43b8-b52c-086f70b410ed\u0026expected_price_currency=rub","distance":8009,"found_at":"2023-05-04T18:42:00Z","gate":"Aviakassa","trip_class":0},{"origin":"LED","destination":"HKT","price":437,"main_airline":"HU","depart_date":"2023-05-23T07:25:00+03:00","transfers":3,"duration":3300,"link":"/search/LED2305HKT1?t=HU16848159001685013900003300LEDVKOSVOPEKCANHKT_76fdb7c1c2d0b67787e72623bcf1ad98_34210\u0026search_date=04052023\u0026expected_price_uuid=f4ce8a63-5517-4863-830f-806c096b5f69\u0026expected_price_currency=rub","distance":8009,"found_at":"2023-05-04T20:59:37Z","gate":"Aviakassa","trip_class":0}],"origins":["LED"],"destinations":["HKT"]}

In [14]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"PHX","destination":"LAX"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

# Create a DataFrame from the 'prices' key
lax = pd.json_normalize(data['prices'])

# Extract the 'origins' and 'destinations' keys into separate columns
lax['origin'] = data['origins'][0]
lax['destination'] = data['destinations'][0]

# Rearrange the columns in the desired order
lax = lax[['origin', 'destination', 'price', 'main_airline', 'depart_date', 'transfers', 'duration', 'link', 'distance', 'found_at', 'gate', 'trip_class']]

print(lax)

  origin destination  price main_airline                depart_date  \
0    PHX         LAX     60           NK  2023-05-14T20:50:00-07:00
1    PHX         LAX     64           NK  2023-05-16T20:50:00-07:00
2    PHX         LAX     78           NK  2023-05-13T20:50:00-07:00
3    PHX         LAX     87           UA  2023-06-24T16:20:00-07:00
4    PHX         LAX    115           9X  2023-06-25T12:15:00-07:00

   transfers  duration                                               link  \
0          1      2707  /search/PHX1405LAX1?t=NK1684122600168428502000...
1          1       620  /search/PHX1605LAX1?t=NK1684295400168433260000...
2          1      2060  /search/PHX1305LAX1?t=NK1684036200168415980000...
3          0        89  /search/PHX2406LAX1?t=UA1687648800168765414000...
4          1       220  /search/PHX2506LAX1?t=9X1687720500168773370000...

   distance              found_at         gate  trip_class
0       595  2023-05-04T23:35:26Z     Kupi.com           0
1       595  2023-05-04T23:52:50Z    Clickavia           0
2       595  2023-05-03T23:19:08Z     Kupi.com           0
3       595  2023-05-03T05:36:28Z  City.Travel           0
4       595  2023-05-03T05:38:04Z   OneTwoTrip           0

In [15]:
lax.head()

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,LAX,60,NK,2023-05-14T20:50:00-07:00,1,2707,/search/PHX1405LAX1?t=NK1684122600168428502000...,595,2023-05-04T23:35:26Z,Kupi.com,0
1,PHX,LAX,64,NK,2023-05-16T20:50:00-07:00,1,620,/search/PHX1605LAX1?t=NK1684295400168433260000...,595,2023-05-04T23:52:50Z,Clickavia,0
2,PHX,LAX,78,NK,2023-05-13T20:50:00-07:00,1,2060,/search/PHX1305LAX1?t=NK1684036200168415980000...,595,2023-05-03T23:19:08Z,Kupi.com,0
3,PHX,LAX,87,UA,2023-06-24T16:20:00-07:00,0,89,/search/PHX2406LAX1?t=UA1687648800168765414000...,595,2023-05-03T05:36:28Z,City.Travel,0
4,PHX,LAX,115,9X,2023-06-25T12:15:00-07:00,1,220,/search/PHX2506LAX1?t=9X1687720500168773370000...,595,2023-05-03T05:38:04Z,OneTwoTrip,0

In [5]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"PHX","destination":"JFK"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

# Create a DataFrame from the 'prices' key
jfk = pd.json_normalize(data['prices'])

# Extract the 'origins' and 'destinations' keys into separate columns
jfk['origin'] = data['origins'][0]
jfk['destination'] = data['destinations'][0]

# Rearrange the columns in the desired order
jfk = jfk[['origin', 'destination', 'price', 'main_airline', 'depart_date', 'transfers', 'duration', 'link', 'distance', 'found_at', 'gate', 'trip_class']]

print(jfk)

  origin destination  price main_airline                depart_date  \
0    PHX         NYC    111           F9  2023-05-15T23:20:00-07:00
1    PHX         NYC     98           F9  2023-05-16T22:30:00-07:00
2    PHX         NYC    112           F9  2023-05-17T23:10:00-07:00
3    PHX         NYC    132           F9  2023-05-18T21:08:00-07:00
4    PHX         NYC    140           B6  2023-08-08T22:25:00-07:00

   transfers  duration                                               link  \
0          1       892  /search/PHX1505NYC1?t=F91684218000168427152000...
1          1       942  /search/PHX1605NYC1?t=F91684301400168435792000...
2          1       902  /search/PHX1705NYC1?t=F91684390200168444432000...
3          2      2543  /search/PHX1805NYC1?t=F91684469280168462186000...
4          1       455  /search/PHX0808NYC1?t=B61691558700169158600000...

   distance              found_at         gate  trip_class
0      3449  2023-05-01T17:32:52Z  City.Travel           0
1      3449  2023-05-04T22:08:44Z    Clickavia           0
2      3449  2023-05-04T22:08:45Z  City.Travel           0
3      3449  2023-05-04T22:56:23Z  City.Travel           0
4      3456  2023-05-05T00:15:19Z   OneTwoTrip           0

In [6]:
jfk.head()

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,NYC,111,F9,2023-05-15T23:20:00-07:00,1,892,/search/PHX1505NYC1?t=F91684218000168427152000...,3449,2023-05-01T17:32:52Z,City.Travel,0
1,PHX,NYC,98,F9,2023-05-16T22:30:00-07:00,1,942,/search/PHX1605NYC1?t=F91684301400168435792000...,3449,2023-05-04T22:08:44Z,Clickavia,0
2,PHX,NYC,112,F9,2023-05-17T23:10:00-07:00,1,902,/search/PHX1705NYC1?t=F91684390200168444432000...,3449,2023-05-04T22:08:45Z,City.Travel,0
3,PHX,NYC,132,F9,2023-05-18T21:08:00-07:00,2,2543,/search/PHX1805NYC1?t=F91684469280168462186000...,3449,2023-05-04T22:56:23Z,City.Travel,0
4,PHX,NYC,140,B6,2023-08-08T22:25:00-07:00,1,455,/search/PHX0808NYC1?t=B61691558700169158600000...,3456,2023-05-05T00:15:19Z,OneTwoTrip,0

In [8]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"PHX","destination":"ORD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

# Create a DataFrame from the 'prices' key
ord = pd.json_normalize(data['prices'])

# Extract the 'origins' and 'destinations' keys into separate columns
ord['origin'] = data['origins'][0]
ord['destination'] = data['destinations'][0]

# Rearrange the columns in the desired order
ord = ord[['origin', 'destination', 'price', 'main_airline', 'depart_date', 'transfers', 'duration', 'link', 'distance', 'found_at', 'gate', 'trip_class']]

print(ord)

  origin destination  price main_airline                depart_date  \
0    PHX         CHI     69           F9  2023-05-09T05:05:00-07:00
1    PHX         CHI     69           F9  2023-05-10T12:39:00-07:00
2    PHX         CHI     73           F9  2023-06-10T14:56:00-07:00
3    PHX         CHI     73           F9  2023-06-17T12:00:00-07:00
4    PHX         CHI     73           F9  2023-06-24T13:56:00-07:00

   transfers  duration                                               link  \
0          0       196  /search/PHX0905CHI1?t=F91683633900168364566000...
1          0       196  /search/PHX1005CHI1?t=F91683747540168375930000...
2          0       197  /search/PHX1006CHI1?t=F91686434160168644598000...
3          0       199  /search/PHX1706CHI1?t=F91687028400168704034000...
4          0       202  /search/PHX2406CHI1?t=F91687640160168765228000...

   distance              found_at gate  trip_class
0      2319  2023-05-02T19:52:44Z                0
1      2319  2023-05-03T21:24:17Z                0
2      2319  2023-05-03T09:04:50Z                0
3      2319  2023-05-02T10:13:16Z                0
4      2319  2023-05-02T20:48:57Z                0

In [9]:
ord.head()

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,CHI,69,F9,2023-05-09T05:05:00-07:00,0,196,/search/PHX0905CHI1?t=F91683633900168364566000...,2319,2023-05-02T19:52:44Z,,0
1,PHX,CHI,69,F9,2023-05-10T12:39:00-07:00,0,196,/search/PHX1005CHI1?t=F91683747540168375930000...,2319,2023-05-03T21:24:17Z,,0
2,PHX,CHI,73,F9,2023-06-10T14:56:00-07:00,0,197,/search/PHX1006CHI1?t=F91686434160168644598000...,2319,2023-05-03T09:04:50Z,,0
3,PHX,CHI,73,F9,2023-06-17T12:00:00-07:00,0,199,/search/PHX1706CHI1?t=F91687028400168704034000...,2319,2023-05-02T10:13:16Z,,0
4,PHX,CHI,73,F9,2023-06-24T13:56:00-07:00,0,202,/search/PHX2406CHI1?t=F91687640160168765228000...,2319,2023-05-02T20:48:57Z,,0

In [10]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"PHX","destination":"MIA"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

# Create a DataFrame from the 'prices' key
mia = pd.json_normalize(data['prices'])

# Extract the 'origins' and 'destinations' keys into separate columns
mia['origin'] = data['origins'][0]
mia['destination'] = data['destinations'][0]

# Rearrange the columns in the desired order
mia = mia[['origin', 'destination', 'price', 'main_airline', 'depart_date', 'transfers', 'duration', 'link', 'distance', 'found_at', 'gate', 'trip_class']]

print(mia)

  origin destination  price main_airline                depart_date  \
0    PHX         MIA     76           F9  2023-06-07T20:58:00-07:00
1    PHX         MIA     83           F9  2023-06-04T20:48:00-07:00
2    PHX         MIA     83           F9  2023-06-05T20:13:00-07:00
3    PHX         MIA     83           F9  2023-05-09T23:36:00-07:00
4    PHX         MIA     89           F9  2023-05-31T17:56:00-07:00

   transfers  duration                                               link  \
0          1       492  /search/PHX0706MIA1?t=F91686196680168622620000...
1          1       420  /search/PHX0406MIA1?t=F91685936880168596208000...
2          1       484  /search/PHX0506MIA1?t=F91686021180168605022000...
3          1       512  /search/PHX0905MIA1?t=F91683700560168373128000...
4          1       674  /search/PHX3105MIA1?t=F91685580960168562140000...

   distance              found_at gate  trip_class
0      3168  2023-05-04T23:54:27Z                0
1      3168  2023-05-04T20:30:01Z                0
2      3168  2023-05-02T10:10:59Z                0
3      3168  2023-05-02T17:33:27Z                0
4      3168  2023-05-04T21:01:23Z                0

In [11]:
mia.head()

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,MIA,76,F9,2023-06-07T20:58:00-07:00,1,492,/search/PHX0706MIA1?t=F91686196680168622620000...,3168,2023-05-04T23:54:27Z,,0
1,PHX,MIA,83,F9,2023-06-04T20:48:00-07:00,1,420,/search/PHX0406MIA1?t=F91685936880168596208000...,3168,2023-05-04T20:30:01Z,,0
2,PHX,MIA,83,F9,2023-06-05T20:13:00-07:00,1,484,/search/PHX0506MIA1?t=F91686021180168605022000...,3168,2023-05-02T10:10:59Z,,0
3,PHX,MIA,83,F9,2023-05-09T23:36:00-07:00,1,512,/search/PHX0905MIA1?t=F91683700560168373128000...,3168,2023-05-02T17:33:27Z,,0
4,PHX,MIA,89,F9,2023-05-31T17:56:00-07:00,1,674,/search/PHX3105MIA1?t=F91685580960168562140000...,3168,2023-05-04T21:01:23Z,,0

In [12]:
import requests
import pandas as pd

url = "https://api.travelpayouts.com/v2/prices/nearest-places-matrix"
querystring = {"currency":"usd","show_to_affiliates":"true","origin":"PHX","destination":"LAS"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

# Create a DataFrame from the 'prices' key
las = pd.json_normalize(data['prices'])

# Extract the 'origins' and 'destinations' keys into separate columns
las['origin'] = data['origins'][0]
las['destination'] = data['destinations'][0]

# Rearrange the columns in the desired order
las = las[['origin', 'destination', 'price', 'main_airline', 'depart_date', 'transfers', 'duration', 'link', 'distance', 'found_at', 'gate', 'trip_class']]

print(las)

  origin destination  price main_airline                depart_date  \
0    PHX         LAS     23           F9  2023-05-08T22:03:00-07:00
1    PHX         LAS     23           F9  2023-05-09T22:13:00-07:00
2    PHX         LAS     23           F9  2023-05-10T21:29:00-07:00
3    PHX         LAS     45           F9  2023-05-06T22:13:00-07:00
4    PHX         LAS    202           NK  2023-05-05T20:50:00-07:00

   transfers  duration                                               link  \
0          0        74  /search/PHX0805LAS1?t=F91683608580168361302000...
1          0        74  /search/PHX0905LAS1?t=F91683695580168370002000...
2          0        74  /search/PHX1005LAS1?t=F91683779340168378378000...
3          0        74  /search/PHX0605LAS1?t=F91683436380168344082000...
4          0        67  /search/PHX0505LAS1?t=NK1683345000168334902000...

   distance              found_at         gate  trip_class
0       411  2023-05-02T14:51:37Z                        0
1       411  2023-05-02T08:36:36Z                        0
2       411  2023-05-02T14:55:41Z                        0
3       411  2023-05-04T06:00:35Z      Biletix           0
4       411  2023-05-04T06:00:48Z  City.Travel           0

In [13]:
las.head()

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,LAS,23,F9,2023-05-08T22:03:00-07:00,0,74,/search/PHX0805LAS1?t=F91683608580168361302000...,411,2023-05-02T14:51:37Z,,0
1,PHX,LAS,23,F9,2023-05-09T22:13:00-07:00,0,74,/search/PHX0905LAS1?t=F91683695580168370002000...,411,2023-05-02T08:36:36Z,,0
2,PHX,LAS,23,F9,2023-05-10T21:29:00-07:00,0,74,/search/PHX1005LAS1?t=F91683779340168378378000...,411,2023-05-02T14:55:41Z,,0
3,PHX,LAS,45,F9,2023-05-06T22:13:00-07:00,0,74,/search/PHX0605LAS1?t=F91683436380168344082000...,411,2023-05-04T06:00:35Z,Biletix,0
4,PHX,LAS,202,NK,2023-05-05T20:50:00-07:00,0,67,/search/PHX0505LAS1?t=NK1683345000168334902000...,411,2023-05-04T06:00:48Z,City.Travel,0

In [16]:
df_concat = pd.concat([lax, jfk, lax, mia, ord, las], axis=0)
print(df_concat)

  origin destination  price main_airline                depart_date  \
0    PHX         LAX     60           NK  2023-05-14T20:50:00-07:00
1    PHX         LAX     64           NK  2023-05-16T20:50:00-07:00
2    PHX         LAX     78           NK  2023-05-13T20:50:00-07:00
3    PHX         LAX     87           UA  2023-06-24T16:20:00-07:00
4    PHX         LAX    115           9X  2023-06-25T12:15:00-07:00
0    PHX         NYC    111           F9  2023-05-15T23:20:00-07:00
1    PHX         NYC     98           F9  2023-05-16T22:30:00-07:00
2    PHX         NYC    112           F9  2023-05-17T23:10:00-07:00
3    PHX         NYC    132           F9  2023-05-18T21:08:00-07:00
4    PHX         NYC    140           B6  2023-08-08T22:25:00-07:00
0    PHX         LAX     60           NK  2023-05-14T20:50:00-07:00
1    PHX         LAX     64           NK  2023-05-16T20:50:00-07:00
2    PHX         LAX     78           NK  2023-05-13T20:50:00-07:00
3    PHX         LAX     87           UA  2023-06-24T16:20:00-07:00
4    PHX         LAX    115           9X  2023-06-25T12:15:00-07:00
0    PHX         MIA     76           F9  2023-06-07T20:58:00-07:00
1    PHX         MIA     83           F9  2023-06-04T20:48:00-07:00
2    PHX         MIA     83           F9  2023-06-05T20:13:00-07:00
3    PHX         MIA     83           F9  2023-05-09T23:36:00-07:00
4    PHX         MIA     89           F9  2023-05-31T17:56:00-07:00
0    PHX         CHI     69           F9  2023-05-09T05:05:00-07:00
1    PHX         CHI     69           F9  2023-05-10T12:39:00-07:00
2    PHX         CHI     73           F9  2023-06-10T14:56:00-07:00
3    PHX         CHI     73           F9  2023-06-17T12:00:00-07:00
4    PHX         CHI     73           F9  2023-06-24T13:56:00-07:00
0    PHX         LAS     23           F9  2023-05-08T22:03:00-07:00
1    PHX         LAS     23           F9  2023-05-09T22:13:00-07:00
2    PHX         LAS     23           F9  2023-05-10T21:29:00-07:00
3    PHX         LAS     45           F9  2023-05-06T22:13:00-07:00
4    PHX         LAS    202           NK  2023-05-05T20:50:00-07:00

   transfers  duration                                               link  \
0          1      2707  /search/PHX1405LAX1?t=NK1684122600168428502000...
1          1       620  /search/PHX1605LAX1?t=NK1684295400168433260000...
2          1      2060  /search/PHX1305LAX1?t=NK1684036200168415980000...
3          0        89  /search/PHX2406LAX1?t=UA1687648800168765414000...
4          1       220  /search/PHX2506LAX1?t=9X1687720500168773370000...
0          1       892  /search/PHX1505NYC1?t=F91684218000168427152000...
1          1       942  /search/PHX1605NYC1?t=F91684301400168435792000...
2          1       902  /search/PHX1705NYC1?t=F91684390200168444432000...
3          2      2543  /search/PHX1805NYC1?t=F91684469280168462186000...
4          1       455  /search/PHX0808NYC1?t=B61691558700169158600000...
0          1      2707  /search/PHX1405LAX1?t=NK1684122600168428502000...
1          1       620  /search/PHX1605LAX1?t=NK1684295400168433260000...
2          1      2060  /search/PHX1305LAX1?t=NK1684036200168415980000...
3          0        89  /search/PHX2406LAX1?t=UA1687648800168765414000...
4          1       220  /search/PHX2506LAX1?t=9X1687720500168773370000...
0          1       492  /search/PHX0706MIA1?t=F91686196680168622620000...
1          1       420  /search/PHX0406MIA1?t=F91685936880168596208000...
2          1       484  /search/PHX0506MIA1?t=F91686021180168605022000...
3          1       512  /search/PHX0905MIA1?t=F91683700560168373128000...
4          1       674  /search/PHX3105MIA1?t=F91685580960168562140000...
0          0       196  /search/PHX0905CHI1?t=F91683633900168364566000...
1          0       196  /search/PHX1005CHI1?t=F91683747540168375930000...
2          0       197  /search/PHX1006CHI1?t=F91686434160168644598000...
3          0       199  /search/PHX1706CHI1?t=F91687028400168704034000...
4          0       202  /search/PHX2406CHI1?t=F91687640160168765228000...
0          0        74  /search/PHX0805LAS1?t=F91683608580168361302000...
1          0        74  /search/PHX0905LAS1?t=F91683695580168370002000...
2          0        74  /search/PHX1005LAS1?t=F91683779340168378378000...
3          0        74  /search/PHX0605LAS1?t=F91683436380168344082000...
4          0        67  /search/PHX0505LAS1?t=NK1683345000168334902000...

   distance              found_at         gate  trip_class
0       595  2023-05-04T23:35:26Z     Kupi.com           0
1       595  2023-05-04T23:52:50Z    Clickavia           0
2       595  2023-05-03T23:19:08Z     Kupi.com           0
3       595  2023-05-03T05:36:28Z  City.Travel           0
4       595  2023-05-03T05:38:04Z   OneTwoTrip           0
0      3449  2023-05-01T17:32:52Z  City.Travel           0
1      3449  2023-05-04T22:08:44Z    Clickavia           0
2      3449  2023-05-04T22:08:45Z  City.Travel           0
3      3449  2023-05-04T22:56:23Z  City.Travel           0
4      3456  2023-05-05T00:15:19Z   OneTwoTrip           0
0       595  2023-05-04T23:35:26Z     Kupi.com           0
1       595  2023-05-04T23:52:50Z    Clickavia           0
2       595  2023-05-03T23:19:08Z     Kupi.com           0
3       595  2023-05-03T05:36:28Z  City.Travel           0
4       595  2023-05-03T05:38:04Z   OneTwoTrip           0
0      3168  2023-05-04T23:54:27Z                        0
1      3168  2023-05-04T20:30:01Z                        0
2      3168  2023-05-02T10:10:59Z                        0
3      3168  2023-05-02T17:33:27Z                        0
4      3168  2023-05-04T21:01:23Z                        0
0      2319  2023-05-02T19:52:44Z                        0
1      2319  2023-05-03T21:24:17Z                        0
2      2319  2023-05-03T09:04:50Z                        0
3      2319  2023-05-02T10:13:16Z                        0
4      2319  2023-05-02T20:48:57Z                        0
0       411  2023-05-02T14:51:37Z                        0
1       411  2023-05-02T08:36:36Z                        0
2       411  2023-05-02T14:55:41Z                        0
3       411  2023-05-04T06:00:35Z      Biletix           0
4       411  2023-05-04T06:00:48Z  City.Travel           0

In [18]:
df_concat.head(50)

,origin,destination,price,main_airline,depart_date,transfers,duration,link,distance,found_at,gate,trip_class
0,PHX,LAX,60,NK,2023-05-14T20:50:00-07:00,1,2707,/search/PHX1405LAX1?t=NK1684122600168428502000...,595,2023-05-04T23:35:26Z,Kupi.com,0
1,PHX,LAX,64,NK,2023-05-16T20:50:00-07:00,1,620,/search/PHX1605LAX1?t=NK1684295400168433260000...,595,2023-05-04T23:52:50Z,Clickavia,0
2,PHX,LAX,78,NK,2023-05-13T20:50:00-07:00,1,2060,/search/PHX1305LAX1?t=NK1684036200168415980000...,595,2023-05-03T23:19:08Z,Kupi.com,0
3,PHX,LAX,87,UA,2023-06-24T16:20:00-07:00,0,89,/search/PHX2406LAX1?t=UA1687648800168765414000...,595,2023-05-03T05:36:28Z,City.Travel,0
4,PHX,LAX,115,9X,2023-06-25T12:15:00-07:00,1,220,/search/PHX2506LAX1?t=9X1687720500168773370000...,595,2023-05-03T05:38:04Z,OneTwoTrip,0
0,PHX,NYC,111,F9,2023-05-15T23:20:00-07:00,1,892,/search/PHX1505NYC1?t=F91684218000168427152000...,3449,2023-05-01T17:32:52Z,City.Travel,0
1,PHX,NYC,98,F9,2023-05-16T22:30:00-07:00,1,942,/search/PHX1605NYC1?t=F91684301400168435792000...,3449,2023-05-04T22:08:44Z,Clickavia,0
2,PHX,NYC,112,F9,2023-05-17T23:10:00-07:00,1,902,/search/PHX1705NYC1?t=F91684390200168444432000...,3449,2023-05-04T22:08:45Z,City.Travel,0
3,PHX,NYC,132,F9,2023-05-18T21:08:00-07:00,2,2543,/search/PHX1805NYC1?t=F91684469280168462186000...,3449,2023-05-04T22:56:23Z,City.Travel,0
4,PHX,NYC,140,B6,2023-08-08T22:25:00-07:00,1,455,/search/PHX0808NYC1?t=B61691558700169158600000...,3456,2023-05-05T00:15:19Z,OneTwoTrip,0
0,PHX,LAX,60,NK,2023-05-14T20:50:00-07:00,1,2707,/search/PHX1405LAX1?t=NK1684122600168428502000...,595,2023-05-04T23:35:26Z,Kupi.com,0
1,PHX,LAX,64,NK,2023-05-16T20:50:00-07:00,1,620,/search/PHX1605LAX1?t=NK1684295400168433260000...,595,2023-05-04T23:52:50Z,Clickavia,0
2,PHX,LAX,78,NK,2023-05-13T20:50:00-07:00,1,2060,/search/PHX1305LAX1?t=NK1684036200168415980000...,595,2023-05-03T23:19:08Z,Kupi.com,0
3,PHX,LAX,87,UA,2023-06-24T16:20:00-07:00,0,89,/search/PHX2406LAX1?t=UA1687648800168765414000...,595,2023-05-03T05:36:28Z,City.Travel,0
4,PHX,LAX,115,9X,2023-06-25T12:15:00-07:00,1,220,/search/PHX2506LAX1?t=9X1687720500168773370000...,595,2023-05-03T05:38:04Z,OneTwoTrip,0
0,PHX,MIA,76,F9,2023-06-07T20:58:00-07:00,1,492,/search/PHX0706MIA1?t=F91686196680168622620000...,3168,2023-05-04T23:54:27Z,,0
1,PHX,MIA,83,F9,2023-06-04T20:48:00-07:00,1,420,/search/PHX0406MIA1?t=F91685936880168596208000...,3168,2023-05-04T20:30:01Z,,0
2,PHX,MIA,83,F9,2023-06-05T20:13:00-07:00,1,484,/search/PHX0506MIA1?t=F91686021180168605022000...,3168,2023-05-02T10:10:59Z,,0
3,PHX,MIA,83,F9,2023-05-09T23:36:00-07:00,1,512,/search/PHX0905MIA1?t=F91683700560168373128000...,3168,2023-05-02T17:33:27Z,,0
4,PHX,MIA,89,F9,2023-05-31T17:56:00-07:00,1,674,/search/PHX3105MIA1?t=F91685580960168562140000...,3168,2023-05-04T21:01:23Z,,0
0,PHX,CHI,69,F9,2023-05-09T05:05:00-07:00,0,196,/search/PHX0905CHI1?t=F91683633900168364566000...,2319,2023-05-02T19:52:44Z,,0
1,PHX,CHI,69,F9,2023-05-10T12:39:00-07:00,0,196,/search/PHX1005CHI1?t=F91683747540168375930000...,2319,2023-05-03T21:24:17Z,,0
2,PHX,CHI,73,F9,2023-06-10T14:56:00-07:00,0,197,/search/PHX1006CHI1?t=F91686434160168644598000...,2319,2023-05-03T09:04:50Z,,0
3,PHX,CHI,73,F9,2023-06-17T12:00:00-07:00,0,199,/search/PHX1706CHI1?t=F91687028400168704034000...,2319,2023-05-02T10:13:16Z,,0
4,PHX,CHI,73,F9,2023-06-24T13:56:00-07:00,0,202,/search/PHX2406CHI1?t=F91687640160168765228000...,2319,2023-05-02T20:48:57Z,,0
0,PHX,LAS,23,F9,2023-05-08T22:03:00-07:00,0,74,/search/PHX0805LAS1?t=F91683608580168361302000...,411,2023-05-02T14:51:37Z,,0
1,PHX,LAS,23,F9,2023-05-09T22:13:00-07:00,0,74,/search/PHX0905LAS1?t=F91683695580168370002000...,411,2023-05-02T08:36:36Z,,0
2,PHX,LAS,23,F9,2023-05-10T21:29:00-07:00,0,74,/search/PHX1005LAS1?t=F91683779340168378378000...,411,2023-05-02T14:55:41Z,,0
3,PHX,LAS,45,F9,2023-05-06T22:13:00-07:00,0,74,/search/PHX0605LAS1?t=F91683436380168344082000...,411,2023-05-04T06:00:35Z,Biletix,0
4,PHX,LAS,202,NK,2023-05-05T20:50:00-07:00,0,67,/search/PHX0505LAS1?t=NK1683345000168334902000...,411,2023-05-04T06:00:48Z,City.Travel,0

In [21]:
# Create the output file (CSV).
output_data_file = "Prices_Alternative_Directions.csv"
# Export the data into a CSV.
df_concat.to_csv(output_data_file)